html {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  height: 900px;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  position: relative;
  background-color: #e5e5e5;
}
a,
a:visited {
  color: #ff868e;
  text-decoration: none;
}
.right-block {
  width: 680px;
  height: 840px;
  position: absolute;
  background-color: rgb(251, 224, 220);
  right: 30px;
  top: 30px;
  border-radius: 20px;
}

.right-block::after {
  content: '';
  position: absolute;
  width: 775px;
  height: 900px;
  right: 0px;
  top: 0;
  background: url(./images/girl-and-pet\ 1.png);
}

.logo {
  position: absolute;
  width: 106.16px;
  height: 24px;
  left: 147px;
  top: 30px;
}

.left-block {
  position: absolute;
  width: 446px;
  height: 450px;
  left: 147px;
  top: 134px;
}

h1 {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 58px;
  color: #1d1d1d;
  margin-bottom: 0;
  padding-bottom: 0;
}

.welcome-text {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  color: #8c8c8c;
  margin-top: 0;
}

.start-text {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  color: #1d1d1d;
}

.first-card {
  box-sizing: border-box;
  width: 138px;
  height: 198px;
  background: #b4b7ff;
  border: 4px solid rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  position: relative;
}

.first-card::after {
  content: '';
  position: absolute;
  width: 100px;
  height: 124.47px;
  left: 15px;
  top: 32px;
  background: url(./images/vote-table.png);
}

.second-card {
  box-sizing: border-box;
  width: 138px;
  height: 198px;
  background: #97eab9;
  border: 4px solid rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  position: relative;
}

.second-card::after {
  content: '';
  position: absolute;
  width: 117px;
  height: 163px;
  left: 6px;
  top: 14px;
  background: url(./images/pet-breeds.png);
  background-position: 45% 50%;
}

.third-card {
  box-sizing: border-box;
  width: 138px;
  height: 198px;
  background: #ffd280;
  border: 4px solid rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  position: relative;
}

.third-card::after {
  content: '';
  position: absolute;
  width: 112px;
  height: 190px;
  left: 13px;
  bottom: 0px;
  background: url(./images/images-search.png);
  background-position: 50% 50%;
}

button {
  margin-top: 10px;
  padding-top: 10px;
  padding-left: 0;
  width: 138px;
  height: 36px;
  background: #ffffff;
  border-radius: 10px;
  border: none;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 2px;
}

.card-block a {
  text-align: center;
  display: block;
  width: 138px;
  height: 36px;
}

.big-card-block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}

.card-block {
  display: flex;
  flex-direction: column-reverse;
}

button:hover ~ .card {
  border: 4px solid #ffffff;
}
button:active ~ .card {
  border: 4px solid #fbe0dc;
}

button:hover {
  background: #fbe0dc;
}

button:active {
  background: #ff868e;
}
button:active a {
  color: #ffffff;
}

/* B R E E D S */

.search-block {
  width: 680px;
  height: 840px;
  position: absolute;
  right: 30px;
  top: 30px;
  border-radius: 20px;
  box-sizing: border-box;
}

.search {
  position: absolute;
  width: 470px;
  height: 60px;
  background: #ffffff;
  border-radius: 20px;
  border: 2px solid #ffffff;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  padding-left: 20px;
  box-sizing: border-box;
}

.search:hover {
  border: 2px solid #fbe0dc;
}

.search:focus {
  border: 2px solid #ff868e;
  outline: none;
}

.search::-webkit-search-cancel-button {
  display: none;
}

.search-btn {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 420px;
  top: 0px;
  background: url(./icon/search-20.png) no-repeat center;
  background-color: #fbe0dc;
}

.search-btn:hover {
  background: url(./icon/search-white-20.png) no-repeat center;
  background-color: #ff868e;
}

.likes-btn {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 480px;
  margin-top: 0;
  border-radius: 20px;
  background: url(./icon/like-30.png) no-repeat center;
  background-color: #ffffff;
}
.likes-btn:hover {
  background: url(./icon/like-30.png) no-repeat center;
  background-color: #fbe0dc;
}
.likes-btn:active {
  background: url(./icon/like-white-30.png) no-repeat center;
  background-color: #ff868e;
}

.favourites-btn {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 550px;
  margin-top: 0;
  border-radius: 20px;
  background: url(./icon/fav-30.png) no-repeat center;
  background-color: #ffffff;
}
.favourites-btn:hover {
  background: url(./icon/fav-30.png) no-repeat center;
  background-color: #fbe0dc;
}
.favourites-btn:active {
  background: url(./icon/fav-white-30.png) no-repeat center;
  background-color: #ff868e;
}

.dislikes-btn {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 620px;
  margin-top: 0;
  border-radius: 20px;
  background: url(./icon/dislike-30.png) no-repeat center;
  background-color: #ffffff;
}
.dislikes-btn:hover {
  background: url(./icon/dislike-30.png) no-repeat center;
  background-color: #fbe0dc;
}
.dislikes-btn:active {
  background: url(./icon/dislike-white-30.png) no-repeat center;
  background-color: #ff868e;
}

.likes-btn a,
.favourites-btn a,
.dislikes-btn a {
  display: block;
  width: 60px;
  height: 60px;
}

.big-photo-block {
  position: absolute;
  width: 680px;
  height: 770px;
  left: 0px;
  top: 70px;
  background: #ffffff;
  border-radius: 20px;
  overflow: hidden;
  box-sizing: border-box;
}

.back-btn {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 20px;
  top: 20px;
  margin: 0;
  background: url(./icon/back-20.png) no-repeat center;
  background-color: #fbe0dc;
  border-radius: 10px;
  cursor: pointer;
}
.back-btn:hover {
  background: url(./icon/back-white-20.png) no-repeat center;
  background-color: #ff868e;
  border-radius: 10px;
}

.breeds-btn {
  padding: 30px;
  padding-top: 5px;
  position: absolute;
  /* width: 148px; */
  height: 40px;
  left: 70px;
  top: 20px;
  margin: 0;
  background: #ff868e;
  border-radius: 10px;
  color: white;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 2px;
  color: #ffffff;
  box-sizing: border-box;
}

.select-breeds {
  position: absolute;
  width: 226px;
  height: 40px;
  left: 228px;
  top: 20px;

  background: #f8f8f7;
  border-radius: 10px;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border: 2px solid #f8f8f7;
  color: #8c8c8c;
  padding-left: 5px;
  box-sizing: border-box;
}

select:hover {
  border: 2px solid #fbe0dc;
}
select:focus {
  outline: none;
}
select:focus:hover {
  border: 2px solid #fbe0dc;
}

.select-limit {
  position: absolute;
  width: 101px;
  height: 40px;
  left: 464px;
  top: 20px;

  background: #f8f8f7;
  border-radius: 10px;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #8c8c8c;
  border: 2px solid #f8f8f7;
  color: #8c8c8c;
  padding-left: 5px;
  box-sizing: border-box;
}

.sort {
  margin: 0;
  position: absolute;
  width: 40px;
  height: 40px;
  left: 575px;
  top: 20px;
  background: url(./icon/sort-20.png) no-repeat center;
  background-color: #f8f8f7;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid #f8f8f7;
  box-sizing: border-box;
}

.sort:hover {
  background: url(./icon/sort-color-20.png) no-repeat center;
  background-color: #f8f8f7;
  border: 2px solid #fbe0dc;
}

.sort-rev {
  margin: 0;
  position: absolute;
  width: 40px;
  height: 40px;
  left: 625px;
  top: 20px;
  background: url(./icon/soft-revert-20.png) no-repeat center;
  background-color: #f8f8f7;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid #f8f8f7;
  box-sizing: border-box;
}

.sort-rev:hover {
  background: url(./icon/sort-revert-color-20.png) no-repeat center;
  background-color: #f8f8f7;
  border: 2px solid #fbe0dc;
}

.photo-block {
  width: 640px;
  height: 682px;
  position: absolute;
  top: 80px;
  left: 20px;
  overflow: scroll;
  display: grid;
  gap: 20px;
  grid-template-columns: 200px 200px 200px;
  grid-auto-flow: dense;
  grid-auto-rows: 140px;
}
.photo-block::-webkit-scrollbar {
  display: none;
}
.photo {
  border-radius: 20px;
  background-color: gray;
  position: relative;
}

.high {
  grid-row: span 2;
}

.big {
  grid-row: span 2;
  grid-column: span 2;
}

.name-block {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: rgba(255, 134, 142, 0.6);
  border-radius: 20px;
  opacity: 0;
}

.name {
  padding-top: 10px;
  position: absolute;
  width: 180px;
  height: 34px;
  bottom: 10px;
  left: calc(50% - 180px / 2);
  background: #ffffff;
  border-radius: 10px;
  text-align: center;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ff868e;
}

.photo:hover .name-block {
  opacity: 1;
  transition: opacity 0.3s;
}

/* I N F O  S T Y L E */

.id-block {
  position: absolute;
  min-width: 90px;
  height: 40px;
  left: 228px;
  top: 20px;
  background: #ff868e;
  border-radius: 10px;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 2px;
  color: #ffffff;
  padding-top: 5px;
  box-sizing: border-box;
}

.disabled {
  background: #fbe0dc;
  color: #ff868e;
}

.name a {
  width: 100px;
  height: 30px;
}
.swiper.style {
  height: 360px;
  left: 0px;
  top: 80px;
  border-radius: 20px;
  box-sizing: border-box;
  width: 640px;
}

.about {
  position: absolute;
  width: 640px;
  height: 204px;
  left: 20px;
  top: 491px;
  border: 2px solid #fbe0dc;
  border-radius: 20px;
  border: 2px solid #fbe0dc;
  box-sizing: border-box;
}
.about-name {
  position: absolute;
  padding-left: 25px;
  padding-right: 25px;
  max-height: 62px;
  left: 50%;
  transform: translateX(-50%);
  top: -24px;
  white-space: nowrap;
  background: #ffffff;
  border-radius: 20px;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  color: #1d1d1d;
  text-align: center;
}

.swiper-slide {
  width: 640px;
  height: 360px;
  border-radius: 20px;
  box-sizing: border-box;
}

.left-info-block {
  position: absolute;
  width: 270px;
  left: 40px;
  top: 55px;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #8c8c8c;
}

.right-info-block {
  position: absolute;
  width: 270px;
  top: 55px;
  left: 330px;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 33px;
  color: #8c8c8c;
}

.left-info-block span,
.right-info-block span {
  font-weight: 500;
  color: #1d1d1d;
}

#nav {
  position: absolute;
  height: 30px;
  width: 10px;
  padding-left: 10px;
  padding-right: 10px;
  white-space: nowrap;
  top: 422px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0px;
  border-radius: 20px;
  padding-top: 10px;
  display: table;
  background-color: white;
}

.swiper-pagination span {
  width: 10px;
  height: 10px;
  background: #fbe0dc;
  border-radius: 10px;
  opacity: 1;
}
.swiper-pagination .swiper-pagination-bullet-active {
  background: #ff868e;
  opacity: 1;
}

#prev,
#next {
  position: absolute;
  top: 0;
  height: 600px;
  width: 100px;
  opacity: 0;
}

.swiper-virtual {
  width: 640px;
  height: 360px;
  border-radius: 20px;
  box-sizing: border-box;
  /* background-color: #97eab9; */
}

/* V O T I N G  */

.container-voting {
  position: absolute;
  height: 360px;
  width: 640px;
  left: 20px;
  top: 80px;
  border-radius: 20px;
  box-sizing: border-box;
}

.button-block {
  position: absolute;
  top: 394px;
  left: 50%;
  transform: translateX(-50%);
  width: 256px;
  height: 88px;
  border: 4px solid white;
  background: white;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 0;
  display: flex;
  gap: 4px;
}
.like-voting-button {
  margin: 0;
  width: 80px;
  height: 80px;
  box-sizing: border-box;
  border-top-left-radius: 20%;
  border-bottom-left-radius: 20%;
  background: url(./icon/like-white-30.png) no-repeat center;
  background-color: #97eab9;
}

.like-voting-button:hover {
  background: url(./icon/like-color-30.png) no-repeat center;
  background-color: rgba(151, 234, 185, 0.3);
}
.like-voting-button:active {
  background: url(./icon/like-white-30.png) no-repeat center;
  background-color: #97eab9;
}

.favourites-voting-button {
  margin: 0;
  width: 80px;
  height: 80px;
  box-sizing: border-box;
  background: url(./icon/fav-white-30.png) no-repeat center;
  background-color: #ff868e;
}

.favourites-voting-button:hover {
  background: url(./icon/fav-30.png) no-repeat center;
  background-color: rgba(255, 134, 142, 0.3);
}
.favourites-voting-button:active {
  background: url(./icon/fav-full-white-30.png) no-repeat center;
  background-color: #ff868e;
}

.dislikes-voting-button {
  margin: 0;
  width: 80px;
  height: 80px;
  box-sizing: border-box;
  border-top-right-radius: 20%;
  border-bottom-right-radius: 20%;
  background: url(./icon/dislike-white-30.png) no-repeat center;
  background-color: #ffd280;
}
.dislikes-voting-button:hover {
  background: url(./icon/dislike-color-30.png) no-repeat center;
  background-color: rgba(255, 210, 128, 0.3);
}
.dislikes-voting-button:active {
  background: url(./icon/dislike-white-30.png) no-repeat center;
  background-color: #ffd280;
}

.output-big-block {
  position: absolute;
  bottom: 20px;
  left: 20px;
  height: 270px;
  width: 640px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: scroll;
}
.output-big-block::-webkit-scrollbar {
  display: none;
}
.output-block {
  flex-basis: 60px;
  flex-shrink: 0;
  position: relative;
  width: 640px;
  height: 60px;
  left: 0;
  box-sizing: border-box;
  border-radius: 10px;
}
.time {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 61px;
  height: 30px;
  background: white;
  border-radius: 5px;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1d1d1d;
  text-align: center;
  padding-top: 6px;
}

.output-block p {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 96px;
  top: 18px;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #8c8c8c;
}

.output-block span {
  font-weight: 500;
  color: black;
}

/* G A L L E R Y */

.upload-btn {
  position: absolute;
  width: 143px;
  height: 40px;
  right: 20px;
  top: 20px;
  border-radius: 10px;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 2px;
  color: #ff868e;
  margin-top: 0;
  background: url(./icon/upload-16.png) no-repeat 30px;
  background-color: #fbe0dc;
}

.upload-btn:hover {
  background: url(./icon/upload-white-16.png) no-repeat 30px;
  background-color: #ff868e;
  color: white;
}
.upload-btn:hover a {
  color: white;
}

.upload-btn a {
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 13px;
  padding-left: 15px;
  display: block;
  width: 143px;
  height: 40px;
}

.popup-container {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  box-sizing: border-box;
  background: rgba(29, 29, 29, 0.6);
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
  box-sizing: border-box;
}
.popup {
  width: 680px;
  height: 840px;
  position: absolute;
  right: 30px;
  top: 30px;
  border-radius: 20px;
  box-sizing: border-box;
  background: #f8f8f7;
  display: block;
  padding-top: 100px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.popup h2 {
  font-family: 'Jost';
  font-weight: 500;
  font-size: 36px;
  line-height: 52px;
  color: #1d1d1d;
  margin: 0 auto;
  margin-bottom: 15px;
}

.non-active {
  pointer-events: none;
  cursor: default;
}

.text-over-photo {
  font-family: 'Jost';
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #8c8c8c;
  margin: 0 auto;
}

.popup-container:target {
  opacity: 1;
  visibility: visible;
}

.close-button {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 40px;
  height: 40px;
  background: url(./icon/close-20.png) center no-repeat;
  background-color: #ffffff;
  border-radius: 10px;
}

.close-button:hover {
  background: url(./icon/close-white-20.png) center no-repeat;
  background-color: #ff868e;
}
.close-button a {
  display: block;
  width: 40px;
  height: 40px;
}
.image-container {
  position: absolute;
  width: 640px;
  height: 320px;
  left: 20px;
  top: 232px;
  background: url(./icon/upload-bg.png) center no-repeat;
  background-color: #ffffff;
  border: 2px dashed #fbe0dc;
  border-radius: 20px;
  box-sizing: border-box;
  padding-top: 0px;
  z-index: 2;
}

.image-container.active {
  background-color: #fbe0dc;
  border: 2px dashed #ff868e;
}

.open-button {
  font-family: 'Jost';
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: black;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
.open-button:hover {
  background: none;
  cursor: pointer;
}
.text {
  font-family: 'Jost';
  font-weight: 400;
  font-size: 20px;
  margin-top: 150px;
  font-weight: 400;
  color: #8c8c8c;
}
.image-container input {
  display: none;
}

.image-container span {
  color: black;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.text-under-photo {
  font-weight: 400;
  color: #8c8c8c;
  margin-top: 380px;
  top: 572px;
  font-size: 20px;
  line-height: 30px;
  font-family: 'Jost';
}

.photo-preview {
  position: absolute;
  left: 61px;
  top: 252px;
  width: 558.14px;
  height: 280px;
  border-radius: 10px;
  z-index: 1;
}

.upload-block {
  position: absolute;
  bottom: 158px;
  left: 20px;
  width: 640px;
  height: 60px;
  border-radius: 10px;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #8c8c8c;
  text-align: left;
  box-sizing: border-box;
  display: none;
}

.upload-block.active {
  background: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.upload-block.error {
  display: block;
  padding: 0;
  background: url(./icon/error-20.png) 20px no-repeat;
  background-color: #ffffff;
  padding-left: 50px;
  padding-top: 18px;
}
.upload-block.success {
  display: block;
  padding: 0;
  background: url(./icon/success-20.png) 20px no-repeat;
  background-color: #ffffff;
  padding-left: 50px;
  padding-top: 18px;
}

.upload-button {
  width: 172px;
  height: 40px;
  background: #ff868e;
  border-radius: 10px;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 2px;
  color: #ffffff;
  padding: 0;
  padding-top: 2px;
}

.upload-button:hover,
.upload-button:active {
  color: #ff868e;
  background: #fbe0dc;
}

.upload-button.active {
  background: url(./icon/Ellipse\ 9.png) 30px no-repeat;
  background-color: #ff868e;
  color: #ffffff;
  padding-left: 25px;
}

/* F A V O U R I T E S  •  L I K E S  •  D I S L I K E S */

.vote-icon {
  background-color: #ffffff;
  border-radius: 10px;
  position: absolute;
  width: 40px;
  height: 40px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.vote-icon-block {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: rgba(255, 134, 142, 0.6);
  border-radius: 20px;
  opacity: 0;
}

.photo:hover .vote-icon-block {
  opacity: 1;
  transition: opacity 0.3s;
}

.photo-block.categories {
  position: absolute;
  height: 520px;
  width: 640px;
  left: 20px;
  top: 80px;
  border-radius: 20px;
  box-sizing: border-box;
}

.output-big-block.categories {
  height: 130px;
}

.output-block.no-item {
  background: #f8f8f7;
}

.output-block.no-item p {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 20px;
  top: 18px;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #8c8c8c;
}
